.div_top {
	
	position:fixed;
	width:100%;
	height:70px;
	background-color:#FF9900;
}

.div_left {
	margin-top:70px;
	position:fixed;
	width:13%;
	height:100%;
	float:left;
	background-color:#FF9900;	
}

.slider {
	position:relative;
	float:right;
	width:85%;
	height:100px;
	margin-top:10%;	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    width: 60px;
    background-color: #dddddd;
	}

.activate {
	background-color: #FF9900;
}